@import '../../styles/variables';
.product-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  height: 500px;
  @media all and(max-width: 791px) {
    width: auto;
    height: 400px;
  }
  &__image {
    width: 110px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 23%;
    @media all and(max-width:791px) {
      width: 50px;
      margin-left: 10px;
    }
  }
  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: $color-primary-dark;
    background-color: transparent;
    padding-left: 200px;
    width: 50%;
    position: absolute;
    right: 0;
    top: 100px;
    @media all and(max-width:791px) {
      padding-left: 0px;
      width: auto;
      max-width: 70%;
      top: 50px;
    }
    p {
      margin: 20px 0;
      width: 80%;
      @media all and(max-width:791px) {
        width: auto;
      }
    }
  }

  .item-count {
    width: 280px;
    height: 100px;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    padding: 20px !important;
  }
  .item-in-cart {
    width: 300px;
    height: 200px;
    padding: 0;
    @media all and(max-width:791px) {
      width: 230px;
    }
    p {
      width: 100%;
      text-align: center;
      @media all and(max-width:791px) {
        width: auto;
        font-size: 0.8rem;
      }
    }
    button {
      margin: 5px auto;
      border: none;
    }
  }
}
.detail-animation {
  animation-name: itemDetailAnimation;
  animation-duration: 1s;
}
.detail-text-animation {
  animation-name: itemDetailTextAnimation;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.left-box-animation {
  animation-name: animationLeftBox;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.image-animation {
  animation-name: animationWine;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes itemDetailAnimation {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes itemDetailTextAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationWine {
  0% {
    transform: translateX(-100%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(0) rotate(10deg);
    opacity: 1;
  }
}
