// colors

$color-white: #fff;
$color-primary-light: #a5a5a5;
$color-primary-medium: #666;
$color-primary-dark: #1a1a1a;

$color-secondary-light: rgb(207, 85, 85);
$color-secondary-medium: rgb(161, 4, 4);

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;600&display=swap');

$font-roboto: 'Roboto Mono', monospace;
