.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  width: 180px;
  padding: 10px;
  height: 270px;
  border: 1px solid #464646;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  &__image {
    width: 100px;
    margin-bottom: 10px;
  }
}
