.cart__box {
  position: relative;
  overflow: hidden;
  width: 50px;
  padding-bottom: 20px;
}
.cart__counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2;
  right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(161, 4, 4);
  color: white;
  text-align: center;
  font-size: 0.7rem;
}
.cart__img {
  width: 20px;
}
.cart__img svg {
  transition: all 0.5s;
  fill: white;
}
.cart__product {
  width: 10px;
  padding-left: 8px;
}

.cart__product svg {
  width: 15px;
  fill: rgb(207, 85, 85);
  opacity: 0;
  transition: all 0.5s;
}

.cart__product--animation {
  animation-name: productAnimation;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.cart__img--animation {
  animation-name: cartAnimation;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}
@keyframes productAnimation {
  0% {
    opacity: 0;
  }
  10% {
    transform: rotate(-40deg) translateY(0) translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0) translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateY(14px) translateX(0);
  }
  100% {
    transform: translateY(14px) translateX(50px);
    opacity: 0;
  }
}
@keyframes cartAnimation {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(50px);
    opacity: 0;
  }
}
