@import '../../styles/variables';
.card {
  width: 100%;
  position: relative;
  margin-top: 20px;
  &__controllers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__modal {
    position: absolute;
    bottom: -26px;
    left: -30px;
    border-radius: 5px;
    min-width: 270px;
    height: 361px;
    background-color: $color-primary-dark;
    opacity: 0.9;
    z-index: 2000;
    &--text {
      margin-top: 10px;
      font-size: 1.4rem;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      color: white;
    }
    &--cart {
      width: 50px;
      margin-left: -20px;

      svg {
        transition: all 1s;
        fill: $color-white;
        animation-name: cartAnimation;

        animation-fill-mode: both;
        animation-duration: 1.6s;
      }
    }
    &--product {
      width: 20px;
      svg {
        width: 30px;
        fill: $color-secondary-light;
        opacity: 0;
        transition: all 1s;
        animation-name: productAnimation;
        animation-duration: 1.6s;
        animation-fill-mode: both;
      }
    }

    .cart-box {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
    }
  }
}

.filter {
  filter: blur(3px) brightness(80%);
}

@keyframes productAnimation {
  0% {
    opacity: 0;
  }
  10% {
    transform: rotate(-40deg) translateY(0) translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0) translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateY(25px) translateX(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(25px) translateX(100px);
    opacity: 0;
  }
}
@keyframes cartAnimation {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}
