.banner {
  img {
    width: 100vw;
  }
}
.product-card {
  img {
    width: 60px;
  }
}
.title {
  text-align: center;
  margin: 30px;
  font-size: 2rem;
  text-transform: uppercase;
}
.loader {
  img {
    width: 150px;
  }
}
