.btn {
  background-color: #1a1a1a;
  color: white;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 50px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  color: white;
  background-color: #252525;
  border: 1px solid #1a1a1a;
  transform: translateY(-1px);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.2);
}
.btn:active {
  box-shadow: none;
  transform: translateY(0);
}
